@model IEnumerable<DemoMVC.Models.Daily>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenKhachHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaDonHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HaHopDong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaSoThue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhachHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaDonHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HaHopDong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSoThue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaKhachHang">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaKhachHang">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaKhachHang">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
